@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.App {
    min-height: 100vh;
    background: url('./background.jpg') no-repeat center center/cover;
}

.App ::-webkit-scrollbar {
    display: none;
}